{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}




<br>
<section id="login">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">¡Perfil de usuario!</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form method="post">
                    <div class="control-group">
                        <div class="form-group controls mb-0 pb-2">
                            <ul>
                                <li>Ocupacion:{{person.ocupation}}</li>
                                <li>Telefono fijo:{{person.tel}}</li>
                                <li>Telefono celular:{{person.telcel}}</li>
                                <li>Dirección:{{person.address}}</li>
                                <li>Ciudad:{{person.city}}</li>
                                <li>Provincia:{{person.state}}</li>
                                <li>Foto:{{person.photo}}</li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
